:root {
    /* Variables */
    --mobile-width: 375px;
    --desktop-width: 1440px;

    --primary-color-dark-cyan: hsl(158, 36%, 37%);
    --primary-color-cream:  hsl(30, 38%, 92%);

    --neutral-color-very-dark-blue:  hsl(212, 21%, 14%);
    --neutral-color-dark-grayish-blue:  hsl(228, 12%, 48%);
    --neutral-color-white:  hsl(0, 0%, 100%);

    --typography-body-copy-font-size-paragraph: 14px;
    
    --typography-font-family:  'Montserrat, Fraunces, serif';
    --typography-font-weight-500: 500;
    --typography-font-weight-700: 700;
    --typography-font-family: 'Fraunces', serif;

}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-cream);
}

body {
    width: 100vw;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.page-container {
    background-color: var(--primary-color-cream);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-container {
    height: 100%;
    width: 100%;
}

source, img {
    width: 100%;
    height: auto;
}










